/*css document*/

/*element declerations*/
* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

/*class declerations*/
.hello {
    color: blueviolet;
}
/*id declerations*/